body {
  padding: 20px 0;
  font-family: "Open Sans", sans-serif;
}

a {
  text-decoration: none;
}

.weather-app {
  width: 70%;
  display: block;
  margin: 20px auto;
  padding: 15px;
  border: #bcd6e6 solid 1px;
  border-radius: 6px;
  background-color: #d1e2ed;
}

h1 {
  font-size: 40px;
  padding: 50px 0 0 0;
}
img {
  padding: 40px 0 0 0;
}

h1,
h2,
h4 {
  text-transform: uppercase;
  font-weight: bold;
}

h4 {
  color: #70758f;
}

.forecast-icon {
  font-size: 30px;
}

.plain-text {
  font-weight: bolder;
}

.precipitation-wind-humidity {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #70758f;
  font-size: 14px;
  font-weight: lighter;
}

.forecast-temperature {
  color: black;
}
.forecast-temperature-night {
  color: #70758f;
}

.forecast {
  transition: all 20ms ease-in-out;
}

.forecast:hover {
  background-color: #bcd6e6;
}

footer {
  text-align: center;
}

.units {
  font-size: small;
  position: relative;
  left: 50px;
  bottom: 47px;
}

.active {
  color: black;
  cursor: default;
}

.active:hover {
  text-decoration: none;
  color: black;
}
